@charset "UTF-8";
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  /* font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif; */
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: none;
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}

a:hover,
a:hover img,
.img_hover:hover {
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

figure, picture {
  font-size: 0;
}

picture {
  display: block;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px), print {
  .header {
    background: #fff;
    position: relative;
    padding: 28px 4.28571% 32px;
    z-index: 99;
  }
  .header h1 {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 4.28571%;
    width: 8.21429%;
  }
  .header h1 a {
    display: inline-block;
  }
  .header h1 a img {
    width: 115px;
    height: auto;
  }
  .header_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2.5%;
  }
  .header .nav_list li._top {
    display: none;
  }
  .header .nav_list li:not(:last-child) {
    margin-right: 50px;
  }
  .header .nav_list li a {
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 400;
    white-space: nowrap;
  }
  .header .nav_list li a:hover {
    color: #126234;
  }
  .header .nav_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav_btn li {
    width: 170px;
  }
  .header .nav_btn li:not(:last-child) {
    margin-right: 20px;
  }
  .header .nav_btn li:hover a {
    color: #fff;
  }
  .header .nav_btn li:hover a::after {
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .header .nav_btn li:hover a.mail::before {
    background: url("../images/icon_evenlop_hr.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .header .nav_btn li:hover a.tel::before {
    background: url("../images/icon_phone_hr.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .header .nav_btn li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #c5c5c3;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .header .nav_btn li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #126234;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: 0 50%;
       -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .header .nav_btn li a::before {
    position: relative;
    content: "";
    display: block;
  }
  .header .nav_btn li a.mail {
    font-size: 1.7rem;
    line-height: 1;
  }
  .header .nav_btn li a.mail::before {
    width: 20px;
    height: 16px;
    background: url("../images/icon_evenlop.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 11px;
  }
  .header .nav_btn li a.tel {
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: 1px;
    pointer-events: none;
  }
  .header .nav_btn li a.tel::before {
    width: 12px;
    height: 16px;
    background: url("../images/icon_phone.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 5px;
  }
  .header .area_icon {
    display: none;
  }
  .header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .header .nav_list li:not(:last-child) {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 20px 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header h1 {
    left: 15px;
  }
  .header .nav {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: #126234;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
    padding: 100px 60px 70px;
    overflow: scroll;
    display: block;
  }
  .header .nav_list {
    display: block;
    margin-right: 0;
  }
  .header .nav_list li {
    display: block;
    text-align: center;
    margin-right: 0;
  }
  .header .nav_list li._top {
    display: block;
  }
  .header .nav_list li:not(:last-child) {
    margin-right: 0;
  }
  .header .nav_list li a {
    display: block;
    font-size: 3.6rem;
    line-height: 1;
    font-weight: 400;
    color: #ffff;
    padding: 30px 0;
  }
  .header .nav_list li a:hover {
    color: #fff;
  }
  .header .nav_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header .nav_btn li {
    display: block;
    text-align: center;
    width: 100%;
  }
  .header .nav_btn li:hover a::after {
    display: none;
  }
  .header .nav_btn li:hover a.mail::before {
    background: url("../images/icon_evenlop.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .header .nav_btn li:hover a.tel::before {
    background: url("../images/icon_phone_top.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .header .nav_btn li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .header .nav_btn li a::before {
    position: relative;
    content: "";
    display: block;
  }
  .header .nav_btn li a.mail {
    font-size: 3.6rem;
    line-height: 1;
    background: #fff;
    color: #505050;
  }
  .header .nav_btn li a.mail::before {
    width: 40px;
    height: 32px;
    background: url("../images/icon_evenlop.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 20px;
  }
  .header .nav_btn li a.tel {
    font-size: 7rem;
    line-height: 1;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 30px;
    border: 0;
  }
  .header .nav_btn li a.tel::before {
    width: 50px;
    height: 50px;
    background: url("../images/icon_phone_top.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 22px;
  }
  .header .nav.open {
    visibility: visible;
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
    opacity: 1;
    height: 100vh;
  }
  .header .area_icon {
    width: 60px;
    height: 60px;
    background: #126234;
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;
    z-index: 100;
  }
  .header .area_icon .menu_sp {
    position: absolute;
    width: 30px;
    height: 28.5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .area_icon .menu_sp .icon_menu {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4.5px;
  }
  .header .area_icon .menu_sp .icon_menu .icon_inner, .header .area_icon .menu_sp .icon_menu .icon_inner::before, .header .area_icon .menu_sp .icon_menu .icon_inner::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -moz-border-radius: 0.4vw;
         border-radius: 0.4vw;
  }
  .header .area_icon .menu_sp .icon_menu .icon_inner {
    display: block;
    top: 50%;
    height: 4.5px;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-transition: background-color 0.2s ease-in 0.25s;
    -moz-transition: background-color 0.2s ease-in 0.25s;
    transition: background-color 0.2s ease-in 0.25s;
  }
  .header .area_icon .menu_sp .icon_menu .icon_inner::before {
    content: "";
    display: block;
    top: -12px;
    left: 0;
    width: 100%;
    -webkit-transition: top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -moz-transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s;
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  .header .area_icon .menu_sp .icon_menu .icon_inner::after {
    content: "";
    display: block;
    bottom: -12px;
    right: 0;
    width: 100%;
    -webkit-transition: top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -moz-transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s;
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  .header .area_icon .menu_sp.open .icon_menu .icon_inner {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    background-color: transparent;
  }
  .header .area_icon .menu_sp.open .icon_menu .icon_inner::before {
    top: -80px;
    left: -80px;
    -webkit-transition: left 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: left 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -moz-transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
       -moz-transform: translate3d(80px, 80px, 0) rotate(45deg);
            transform: translate3d(80px, 80px, 0) rotate(45deg);
  }
  .header .area_icon .menu_sp.open .icon_menu .icon_inner::after {
    top: -80px;
    right: -80px;
    -webkit-transition: right 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: right 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -moz-transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
       -moz-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
            transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  }
}

@media screen and (min-width: 768px), print {
  .footer_top {
    background: #fff;
    padding: 71px 0 53px;
  }
  .footer_banner {
    overflow: hidden;
  }
  .footer_banner ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-calc(100% + 20px);
    width: -moz-calc(100% + 20px);
    width: calc(100% + 20px);
    margin: 0 -10px;
  }
  .footer_banner ul li {
    width: 235px;
    margin: 10px;
  }
  .footer_banner ul li a {
    display: block;
    width: 100%;
    font-size: 0;
  }
  .footer_banner ul li a:hover {
    opacity: 0.8;
  }
  .footer_banner ul li a img {
    width: 100%;
    height: auto;
  }
  .footer_bottom {
    background: url("../images/bg_footer.png") center top no-repeat #fff;
    -moz-background-size: cover;
         background-size: cover;
    padding: 5.35714% 60px 3.42857%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .footer_bottom::before {
    position: absolute;
    content: "";
    width: 19%;
    height: 0;
    padding-top: 7.57143%;
    background: url("../images/flower.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    top: 0;
    right: 9.42857%;
    -webkit-transform: translateY(-12px);
       -moz-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .footer_bottom_l > p {
    font-size: 0;
  }
  .footer_bottom_l > address {
    font-size: 1.4rem;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    margin-top: 27px;
    font-style: normal;
  }
  .footer_bottom_l > a.tel {
    font-size: 2.4rem;
    line-height: 1;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 0 0 0 24px;
    margin-top: 14px;
    pointer-events: none;
  }
  .footer_bottom_l > a.tel::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 17px;
    background: url("../images/icon_phone_footer.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .footer_bottom_r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 3.125% 0 0;
  }
  .footer_bottom_r ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_bottom_r ul li:not(:last-child) {
    margin-right: 45px;
  }
  .footer_bottom_r ul li a {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1;
  }
  .footer_bottom_r p {
    font-size: 1.2rem;
    line-height: 1;
    color: #fff;
  }
  .gr_ttl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 360px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .gr_ttl:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .gr_ttl .ttl {
    font-size: 3rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 2px;
    font-family: "A1明朝";
  }
  .gr_ttl .ttl span {
    display: block;
    font-size: 1.4rem;
    line-height: 1;
    position: relative;
    padding-top: 35px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }
  .gr_ttl .ttl span:before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .show_sp {
    display: none !important;
  }
  .row {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .row {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 4vw 5.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 99;
    background: #fff;
  }
  .header.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: transparent;
  }
  .header.fixed h1 {
    -webkit-transform: scale(1, 0);
       -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  .header h1 {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 5.33333vw;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
    -webkit-transform-origin: 50% 0;
       -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .header h1 a {
    display: block;
    width: 17.33333vw;
  }
  .header h1 a img {
    width: 100%;
    height: auto;
  }
  .header .nav {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: #126234;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
    padding: 13.73333vw 5.33333vw 9.33333vw;
    overflow: scroll;
  }
  .header .nav.open {
    visibility: visible;
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
    opacity: 1;
    height: 100vh;
  }
  .header .nav_list li {
    display: block;
    text-align: center;
  }
  .header .nav_list li a {
    display: block;
    font-size: 4.8vw;
    line-height: 1;
    font-weight: 400;
    color: #ffff;
    padding: 4vw 0;
  }
  .header .nav_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header .nav_btn li {
    display: block;
    text-align: center;
  }
  .header .nav_btn li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 13.33333vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .header .nav_btn li a::before {
    position: relative;
    content: "";
    display: block;
  }
  .header .nav_btn li a.mail {
    font-size: 4.8vw;
    line-height: 1;
    background: #fff;
    color: #505050;
  }
  .header .nav_btn li a.mail::before {
    width: 5.33333vw;
    height: 4.26667vw;
    background: url("../images/icon_evenlop.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 2.66667vw;
  }
  .header .nav_btn li a.tel {
    font-size: 9.33333vw;
    line-height: 1;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 4vw;
  }
  .header .nav_btn li a.tel::before {
    width: 6.66667vw;
    height: 6.66667vw;
    background: url("../images/icon_phone_top.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 2.93333vw;
  }
  .header .area_icon {
    width: 10.66667vw;
    height: 10.66667vw;
    background: #126234;
    position: relative;
    overflow: hidden;
    z-index: 100;
  }
  .header .area_icon .menu_sp {
    position: absolute;
    width: 5.33333vw;
    height: 5.06667vw;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .area_icon .menu_sp .icon_menu {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0.8vw;
  }
  .header .area_icon .menu_sp .icon_menu .icon_inner, .header .area_icon .menu_sp .icon_menu .icon_inner::before, .header .area_icon .menu_sp .icon_menu .icon_inner::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -moz-border-radius: 0.4vw;
         border-radius: 0.4vw;
  }
  .header .area_icon .menu_sp .icon_menu .icon_inner {
    display: block;
    top: 50%;
    height: 0.8vw;
    width: 100%;
    left: 0;
    background: #fff;
    -webkit-transition: background-color 0.2s ease-in 0.25s;
    -moz-transition: background-color 0.2s ease-in 0.25s;
    transition: background-color 0.2s ease-in 0.25s;
  }
  .header .area_icon .menu_sp .icon_menu .icon_inner::before {
    content: "";
    display: block;
    top: -2.13333vw;
    left: 0;
    width: 100%;
    -webkit-transition: top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -moz-transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s;
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  .header .area_icon .menu_sp .icon_menu .icon_inner::after {
    content: "";
    display: block;
    bottom: -2.13333vw;
    right: 0;
    width: 100%;
    -webkit-transition: top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -moz-transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s;
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  .header .area_icon .menu_sp.open .icon_menu .icon_inner {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    background-color: transparent;
  }
  .header .area_icon .menu_sp.open .icon_menu .icon_inner::before {
    top: -80px;
    left: -80px;
    -webkit-transition: left 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: left 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -moz-transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
       -moz-transform: translate3d(80px, 80px, 0) rotate(45deg);
            transform: translate3d(80px, 80px, 0) rotate(45deg);
  }
  .header .area_icon .menu_sp.open .icon_menu .icon_inner::after {
    top: -80px;
    right: -80px;
    -webkit-transition: right 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: right 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -moz-transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
       -moz-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
            transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  }
  .footer_top {
    background: #fff;
    padding: 10.4vw 0 18.8vw;
  }
  .footer_banner ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_banner ul li {
    width: 42.66667vw;
  }
  .footer_banner ul li:not(:nth-child(-n+2)) {
    margin-top: 4vw;
  }
  .footer_banner ul li a {
    display: block;
    width: 100%;
    font-size: 0;
  }
  .footer_banner ul li a img {
    width: 100%;
    height: auto;
  }
  .footer_bottom {
    background: url("../images/bg_footer_sp.png") center top no-repeat #fff;
    -moz-background-size: cover;
         background-size: cover;
    padding: 14.13333vw 12vw 6.66667vw;
    position: relative;
  }
  .footer_bottom::before {
    position: absolute;
    content: "";
    width: 35.46667vw;
    height: 14.13333vw;
    background: url("../images/flower.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    top: -3.33333vw;
    right: 5.33333vw;
  }
  .footer_bottom_l > p {
    font-size: 0;
    width: 56.53333vw;
  }
  .footer_bottom_l > p img {
    width: 100%;
  }
  .footer_bottom_l > address {
    font-size: 3.33333vw;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    margin-top: 6.66667vw;
    font-style: normal;
    white-space: nowrap;
    word-break: keep-all;
  }
  .footer_bottom_l > a.tel {
    font-size: 5.86667vw;
    line-height: 1;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 0 0 0 5.33333vw;
    margin-top: 4vw;
  }
  .footer_bottom_l > a.tel::before {
    position: absolute;
    content: "";
    width: 3.33333vw;
    height: 4.4vw;
    background: url("../images/icon_phone_footer.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .footer_bottom_r {
    padding: 11.33333vw 0 0;
  }
  .footer_bottom_r ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_bottom_r ul li a {
    color: #fff;
    font-size: 4vw;
    line-height: 1;
  }
  .footer_bottom_r p {
    font-size: 2.93333vw;
    line-height: 1;
    color: #fff;
    margin-top: 12vw;
  }
  .gr_ttl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 53.33333vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .gr_ttl:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .gr_ttl .ttl {
    font-size: 5.86667vw;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.4vw;
    font-family: "A1明朝";
  }
  .gr_ttl .ttl span {
    display: block;
    font-size: 3.2vw;
    line-height: 1;
    position: relative;
    padding-top: 6vw;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }
  .gr_ttl .ttl span:before {
    content: "";
    width: 10.66667vw;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 2.8vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .show_pc {
    display: none !important;
  }
  .row {
    padding: 0 5.33333vw;
  }
}
