@charset "UTF-8";
@media screen and (min-width: 768px), print {
  .gr_ttl {
    background: url(../images/bkg_ttl_pc.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .gr_news {
    padding: 123px 0 129px;
  }
  .gr_news .news_item article {
    border-bottom: 1px solid #7d7d7d;
    padding-bottom: 55px;
  }
  .gr_news .news_item article:not(:last-child) {
    margin-bottom: 123px;
  }
  .gr_news .news_item article time {
    font-size: 1.6rem;
    line-height: 1;
    color: #333;
    display: block;
  }
  .gr_news .news_item article h3 {
    font-size: 2.8rem;
    line-height: 1.5;
    position: relative;
    margin: 50px 0;
    font-family: "A1明朝";
  }
  .gr_news .news_item article h3:before {
    content: "";
    width: 120px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: -25px;
    left: 0;
  }
  .gr_news .news_item article p {
    font-size: 1.4rem;
    line-height: 30px;
  }
  .gr_news .l_pag {
    margin-top: 82px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gr_news .l_pag li:nth-of-type(1) a:after {
    content: "";
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 21px;
    height: 7px;
    position: absolute;
    top: 50%;
    -webkit-transform: rotateY(180deg) translateY(-50%);
       -moz-transform: rotateY(180deg) translateY(-50%);
            transform: rotateY(180deg) translateY(-50%);
    left: 18px;
    padding-top: 5px;
  }
  .gr_news .l_pag li:nth-of-type(1) a:hover:after {
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .gr_news .l_pag li:nth-of-type(2) a:after {
    content: "";
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 21px;
    height: 7px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 18px;
    padding-top: 5px;
  }
  .gr_news .l_pag li:nth-of-type(2) a:hover:after {
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .gr_news .l_pag li a {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: #baac8b;
    border: 1px solid #baac8b;
    width: 178px;
    height: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 4px;
         border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .gr_news .l_pag li a:before {
    content: '';
    width: 0%;
    height: 34px;
    background: #baac8b;
    position: absolute;
    right: 0;
    top: 0;
    left: inherit;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    transition: width .6s ease;
    z-index: -1;
    -moz-border-radius: 4px;
         border-radius: 4px;
  }
  .gr_news .l_pag li a:hover {
    color: #fff;
  }
  .gr_news .l_pag li a:hover:before {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .gr_ttl {
    background: url(../images/bkg_ttl_pc.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    background-position: center center;
  }
  .gr_news {
    padding: 13.33333vw 0;
  }
  .gr_news .news_item article {
    border-bottom: 1px solid #7d7d7d;
    padding-bottom: 6.66667vw;
  }
  .gr_news .news_item article:not(:last-child) {
    margin-bottom: 13.33333vw;
  }
  .gr_news .news_item article time {
    font-size: 3.46667vw;
    line-height: 1;
    color: #333;
    display: block;
  }
  .gr_news .news_item article h3 {
    font-size: 4.53333vw;
    line-height: 1.5;
    position: relative;
    margin: 6.66667vw 0;
    font-family: "A1明朝";
  }
  .gr_news .news_item article h3:before {
    content: "";
    width: 20vw;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: -3.2vw;
    left: 0;
  }
  .gr_news .news_item article p {
    font-size: 3.2vw;
    line-height: 5.6vw;
  }
  .gr_news .l_pag {
    margin-top: 10.66667vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gr_news .l_pag li:nth-of-type(1) a:after {
    content: "";
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.8vw;
    height: 1.6vw;
    position: absolute;
    top: 50%;
    -webkit-transform: rotateY(180deg) translateY(-50%);
       -moz-transform: rotateY(180deg) translateY(-50%);
            transform: rotateY(180deg) translateY(-50%);
    left: 2.4vw;
    padding-top: 0.66667vw;
  }
  .gr_news .l_pag li:nth-of-type(2) a:after {
    content: "";
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.8vw;
    height: 1.6vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 2.4vw;
    padding-top: 0.66667vw;
  }
  .gr_news .l_pag li a {
    font-size: 3.86667vw;
    line-height: 1;
    font-weight: bold;
    color: #baac8b;
    border: 1px solid #baac8b;
    width: 37.33333vw;
    height: 10.66667vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 0.8vw;
         border-radius: 0.8vw;
    background-color: #fff;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
}
