@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl{
  background: url(../images/bkg_ttl_pc.jpg) no-repeat;
  background-size: cover;
}
.gr_facilities{
  padding: 64px 0 0;
  .row{
    max-width: 1280px;
  }
  &_top{
    h3{
      text-align: center;
      span{
        font-size: rem(28);
        line-height: 1;
        writing-mode: vertical-rl;
        text-orientation: upright;
        position: relative;
        margin-bottom: 50px;
        font-family: $a1;
        &:after{
          content: "";
          width: 1px;
          height: 73px;
          background-color: #000;
          position: absolute;
          top: 0;
          right: -10px;
        }
      }
    }
    p{
      font-size: rem(14);
      line-height: 30px;
      text-align: center;
    }
  }
  &_list{
    margin: 60px 0 0 -27px;
    display: flex;
    flex-flow: row wrap;
    article{
      width: calc(25% - 27px);
      margin: 0 0 108px 27px;
      @media screen and (max-width: 1200px) {
        width: calc(33.33% - 27px);
      }
      @media screen and (max-width: 1024px) {
        width: calc(50% - 27px);
      }
      a{
        display: block;
        &:hover{
          opacity:0.8;
          figure{
            img{
              transform: scale(1.05);
            }
          }
          span{
            color: #fff;
            &:before{
              width: 100%;
              left: 0;
            }
            &:after{
              background: url(../images/arrow_white.png) no-repeat;
              background-size: contain;
            }
          }
        }
      }
      figure{
        overflow:hidden;
        img{
          width: 100%;
          height: auto;
          transition: all 0.5s ease;
        }
      }
      h4{
        text-align: center;
        font-size: rem(20);
        line-height: 26px;
        font-weight: 500;
        min-height: 50px;
        margin: 24px 0;
        font-family: $a1;
        @media screen and (max-width: 1023px) {
          font-size: 16px;
        }
      }
      span{
        font-size: rem(15);
        line-height: 1;
        font-weight: bold;
        color: #8e763d;
        border: 1px solid #8e763d;
        width: 80%;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 4px;
        background-color: #fff;
        transition: all .6s ease;
        transform: translateZ(0);
        margin: 0 auto;
        &:before{
          content: '';
          width: 0%;
          height: 36px;
          background: #8e763d;
          position: absolute;
          right: 0;
          top: 0;
          left: inherit;
          transition: width .6s ease;
          z-index: -1;
        }
        &:after{
          content:"";
          background: url(../images/arrow.png) no-repeat;
          background-size: contain;
          width: 21px;
          height: 7px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          padding-top: 7px;
        }
      }
    }
  }
}