@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl{
  background: url(../images/bkg_ttl_pc.jpg) no-repeat;
  background-size: cover;
}
.gr_facilities{
  padding: vw(65) 0 vw(120);
  &_top{
    h3{
      text-align: center;
      span{
        font-size: vw(44);
        line-height: 1;
        writing-mode: vertical-rl;
        text-orientation: upright;
        position: relative;
        margin-bottom: vw(70);
        font-family: $a1;
        &:after{
          content: "";
          width: 1px;
          height: vw(131);
          background-color: #000;
          position: absolute;
          top: 0;
          right: vw(-15);
        }
      }
    }
    p{
      font-size: vw(26);
      line-height: vw(36);
    }
  }
  &_list{
    margin: vw(70) vw(-40) 0 vw(-40);
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + #{vw(80)});
    article{
      width: calc(50% - #{vw(60)});
      margin: 0 vw(20) 0 vw(40);
      &:nth-child(even) {
        margin: 0 vw(40) 0 vw(20);
      }
      &:not(:last-child){
        margin-bottom: vw(60);
      }
      a{
        display: flex;
        flex-wrap: wrap;
      }
      figure{
        overflow:hidden;
        img{
          width: 100%;
          height: auto;
        }
      }
      h4{
        text-align: center;
        font-size: vw(30);
        line-height: vw(48);
        min-height: vw(96);
        font-weight: 500;
        margin: vw(35) 0 vw(30);
        width: 100%;
        font-family: $a1;
        br {
          display: none;
        }
      }
      span{
        font-size: vw(24);
        line-height: 1;
        font-weight: bold;
        color: #8e763d;
        border: 1px solid #8e763d;
        width: 100%;
        height: vw(65);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: vw(6);
        background-color: #fff;
        margin: 0 auto;
        &:after{
          content:"";
          background: url(../images/arrow.png) no-repeat;
          background-size: contain;
          width: vw(36);
          height: vw(12);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(20);
          padding-top: vw(7);
        }
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        a{
          display: block;
        }
        figure{
          overflow:hidden;
          img{
            width: 100%;
            height: auto;
          }
        }
        h4{
          text-align: center;
          font-size: vw(40);
          line-height: vw(58);
          font-weight: 500;
          margin: vw(55) 0 vw(50);
        }
        span{
          font-size: vw(30);
          line-height: 1;
          font-weight: bold;
          color: #8e763d;
          border: 1px solid #8e763d;
          width: 100%;
          height: vw(85);
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: vw(6);
          background-color: #fff;
          margin: 0 auto;
          &:after{
            content:"";
            background: url(../images/arrow.png) no-repeat;
            background-size: contain;
            width: vw(36);
            height: vw(12);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: vw(20);
            padding-top: vw(7);
          }
        }
      }
    }
  }
}