@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.row{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  .row {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}