.footer {
  &_top {
    background: #fff;
    padding: 71px 0 53px;
  }
  &_banner {
    overflow: hidden;
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: calc(100% + 20px);
      margin: 0 -10px;
      li {
        width: 235px;
        margin: 10px;
        a {
          display: block;
          width: 100%;
          font-size: 0;
          &:hover {
            opacity: 0.8;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  &_bottom {
    background: url('../images/bg_footer.png') center top no-repeat #fff;
    background-size: cover;
    padding: percentage(75/1400) 60px percentage(48/1400);
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: percentage(266/1400);
      height: 0;
      padding-top: percentage(106/1400);
      background: url('../images/flower.png') 0 0 no-repeat;
      background-size: contain;
      top: 0;
      right: percentage(132/1400);
      transform: translateY(-12px);
    }
    &_l {
      > p {
        font-size: 0;
      }
      > address {
        font-size: 1.4rem;
        line-height: 1;
        color: #fff;
        font-weight: 400;
        margin-top: 27px;
        font-style: normal;
      }
      > a.tel {
        font-size: 2.4rem;
        line-height: 1;
        color: #fff;
        display: inline-block;
        position: relative;
        padding: 0 0 0 24px;
        margin-top: 14px;
        pointer-events: none;
        &::before {
          position: absolute;
          content: "";
          width: 13px;
          height: 17px;
          background: url('../images/icon_phone_footer.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &_r {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding: percentage(40/1280) 0 0;
      ul {
        display: flex;
        li {
          &:not(:last-child) {
            margin-right: 45px;
          }
          a {
            color: #fff;
            font-size: 1.4rem;
            line-height: 1;
          }
        }
      }
      p {
        font-size: 1.2rem;
        line-height: 1;
        color: #fff;
      }
    }
  }
}