.footer {
  &_top {
    background: #fff;
    padding: vw(78) 0 vw(141);
  }
  &_banner {
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      li {
        width: vw(320);
        &:not(:nth-child(-n+2)) {
          margin-top: vw(30);
        }
        a {
          display: block;
          width: 100%;
          font-size: 0;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  &_bottom {
    background: url('../images/bg_footer_sp.png') center top no-repeat #fff;
    background-size: cover;
    padding: vw(106) vw(90) vw(50);
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: vw(266);
      height: vw(106);
      background: url('../images/flower.png') 0 0 no-repeat;
      background-size: contain;
      top: vw(-25);
      right: vw(40);
    }
    &_l {
      > p {
        font-size: 0;
        width: vw(424);
        img {
          width: 100%;
        }
      }
      > address {
        font-size: vw(25);
        line-height: 1;
        color: #fff;
        font-weight: 400;
        margin-top: vw(50);
        font-style: normal;
        white-space: nowrap;
        word-break: keep-all;
      }
      > a.tel {
        font-size: vw(44);
        line-height: 1;
        color: #fff;
        display: inline-block;
        position: relative;
        padding: 0 0 0 vw(40);
        margin-top: vw(30);
        &::before {
          position: absolute;
          content: "";
          width: vw(25);
          height: vw(33);
          background: url('../images/icon_phone_footer.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &_r {
      padding: vw(85) 0 0;
      ul {
        display: flex;
        justify-content: space-between;
        li {
          a {
            color: #fff;
            font-size: vw(30);
            line-height: 1;
          }
        }
      }
      p {
        font-size: vw(22);
        line-height: 1;
        color: #fff;
        margin-top: vw(90);
      }
    }
  }
}