.header {
  background: #fff;
  position: relative;
  padding: 28px percentage(60/1400) 32px;
  z-index: 99;
  h1 {
    font-size: 0;
    position: absolute;
    top: 0;
    left: percentage(60/1400);
    width: percentage(115/1400);
    a {
      display: inline-block;
      img {
        width: 115px;
        height: auto;
      }
    }
  }
  &_main {
    display: flex;
    justify-content: flex-end;
  }
  .nav {
    display: flex;
    align-items: center;
    &_list {
      display: flex;
      margin-right: percentage(35/1400);
      li {
        &._top {
          display: none;
        }
        &:not(:last-child) {
          margin-right: 50px;
        }
        a {
          font-size: 1.7rem;
          line-height: 1;
          font-weight: 400;
          white-space: nowrap;
          &:hover {
            color: #126234;
          }
        }
      }
    }
    &_btn {
      display: flex;
      li {
        width: 170px;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &:hover {
          a {
            color: #fff;
            &::after {
              transform: scale(1, 1);
            }
            &.mail::before {
              background: url('../images/icon_evenlop_hr.png') 0 0 no-repeat;
              background-size: contain;
            }
            &.tel::before {
              background: url('../images/icon_phone_hr.png') 0 0 no-repeat;
              background-size: contain;
            }
          }
        }
        a {
          display: flex;
          width: 100%;
          height: 40px;
          align-items: center;
          justify-content: center;
          border: 1px solid #c5c5c3;
          position: relative;
          transform: translateZ(0);
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #126234;
            transform: scale(0, 1);
            transform-origin: 0 50%;
            transition: transform 0.3s ease;
          }

          &::before {
            position: relative;
            content: "";
            display: block;
          }
          &.mail {
            font-size: 1.7rem;
            line-height: 1;
            &::before {
              width: 20px;
              height: 16px;
              background: url('../images/icon_evenlop.png') 0 0 no-repeat;
              background-size: contain;
              margin-right: 11px;
            }
          }
          &.tel {
            font-size: 1.8rem;
            line-height: 1;
            letter-spacing: 1px;
            pointer-events: none;
            &::before {
              width: 12px;
              height: 16px;
              background: url('../images/icon_phone.png') 0 0 no-repeat;
              background-size: contain;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .area_icon {
    display: none;
  }
  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
  }
  @media only screen and (max-width: 1100px) {
    .nav {
      &_list {
        li {
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1023px) {
    padding: 20px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    h1 {
      left: 15px;
    }
    .nav {
      position: absolute;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      z-index: 99;
      background: #126234;
      visibility: hidden;
      backface-visibility: hidden;
      opacity: 0;
      transition: all 0.5s linear;
      padding: 100px 60px 70px;
      overflow: scroll;
      display: block;
      &_list {
        display: block;
        margin-right: 0;
        li {
          display: block;
          text-align: center;
          margin-right: 0;
          &._top {
            display: block;
          }
          &:not(:last-child) {
            margin-right: 0;
          }
          a {
            display: block;
            font-size: 3.6rem;
            line-height: 1;
            font-weight: 400;
            color: #ffff;
            padding: 30px 0;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      &_btn {
        display: flex;
        flex-direction: column-reverse;
        li {
          display: block;
          text-align: center;
          width: 100%;
          &:hover {
            a {
              &::after {
                display: none;
              }
              &.mail {
                &::before {
                  background: url('../images/icon_evenlop.png') 0 0 no-repeat;
                  background-size: contain;
                }
              }
              &.tel {
                &::before {
                  background: url('../images/icon_phone_top.png') 0 0 no-repeat;
                  background-size: contain;
                }
              }
            }
          }
          a {
            display: flex;
            width: 100%;
            height: 100px;
            align-items: center;
            justify-content: center;
            position: relative;
            transform: translateZ(0);
            &::before {
              position: relative;
              content: "";
              display: block;
            }
            &.mail {
              font-size: 3.6rem;
              line-height: 1;
              background: #fff;
              color: #505050;
              &::before {
                width: 40px;
                height: 32px;
                background: url('../images/icon_evenlop.png') 0 0 no-repeat;
                background-size: contain;
                margin-right: 20px;
              }
            }
            &.tel {
              font-size: 7rem;
              line-height: 1;
              letter-spacing: 1px;
              color: #fff;
              margin-bottom: 30px;
              border: 0;
              &::before {
                width: 50px;
                height: 50px;
                background: url('../images/icon_phone_top.png') 0 0 no-repeat;
                background-size: contain;
                margin-right: 22px;
              }
            }
          }
        }
      }
      &.open {
        visibility: visible;
        backface-visibility: visible;
        opacity: 1;
        height: 100vh;
      }
    }
    .area_icon {
      width: 60px;
      height: 60px;
      background: #126234;
      position: relative;
      overflow: hidden;
      display: block;
      cursor: pointer;
      z-index: 100;
      .menu_sp {
        position: absolute;
        width: 30px;
        height: 28.5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        .icon_menu {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 4.5px;
          %menupc {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
            border-radius: vw(3);
          }
          .icon_inner {
            display: block;
            top: 50%;
            height: 4.5px;
            width: 100%;
            top: 0;
            left: 0;
            background: #fff;
            transition: background-color 0.2s ease-in 0.25s;
            @extend %menupc;
            &::before {
              content: "";
              display: block;
              top: -12px;
              left: 0;
              width: 100%;
              transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s;
              @extend %menupc;
            }
            &::after {
              content: "";
              display: block;
              bottom: -12px;
              right: 0;
              width: 100%;
              transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s;
              @extend %menupc;
            }
          }
        }
        &.open {
          .icon_menu {
            .icon_inner {
              transition-delay: 0s;
              transition-timing-function: ease-out;
              background-color: transparent;
              &::before {
                top: -80px;
                left: -80px;
                transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
                transform: translate3d(80px, 80px, 0) rotate(45deg);
              }
              &::after {
                top: -80px;
                right: -80px;
                transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
                transform: translate3d(-80px, 80px, 0) rotate(-45deg);
              }
            }
          }
        }
      }
    }
    &.fixed {

    }
  }
}