.header {
  padding: vw(30) vw(40);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 99;
  background: #fff;
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: transparent;
    h1 {
      transform: scale(1,0);
    }
  }
  h1 {
    font-size: 0;
    position: absolute;
    top: 0;
    left: vw(40);
    transition: transform 0.3s ease;
    transform-origin: 50% 0;
    transform: scale(1);
    a {
      display: block;
      width: vw(130);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .nav {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: #126234;
    visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear;
    padding: vw(103) vw(40) vw(70);
    overflow: scroll;
    &.open {
      visibility: visible;
      backface-visibility: visible;
      opacity: 1;
      height: 100vh;
    }
    &_list {
      li {
        display: block;
        text-align: center;
        a {
          display: block;
          font-size: vw(36);
          line-height: 1;
          font-weight: 400;
          color: #ffff;
          padding: vw(30) 0;
        }
      }
    }
    &_btn {
      display: flex;
      flex-direction: column-reverse;
      li {
        display: block;
        text-align: center;
        a {
          display: flex;
          width: 100%;
          height: vw(100);
          align-items: center;
          justify-content: center;
          position: relative;
          transform: translateZ(0);
          &::before {
            position: relative;
            content: "";
            display: block;
          }
          &.mail {
            font-size: vw(36);
            line-height: 1;
            background: #fff;
            color: #505050;
            &::before {
              width: vw(40);
              height: vw(32);
              background: url('../images/icon_evenlop.png') 0 0 no-repeat;
              background-size: contain;
              margin-right: vw(20);
            }
          }
          &.tel {
            font-size: vw(70);
            line-height: 1;
            letter-spacing: 1px;
            color: #fff;
            margin-bottom: vw(30);
            &::before {
              width: vw(50);
              height: vw(50);
              background: url('../images/icon_phone_top.png') 0 0 no-repeat;
              background-size: contain;
              margin-right: vw(22);
            }
          }
        }
      }
    }
  }
  .area_icon {
    width: vw(80);
    height: vw(80);
    background: #126234;
    position: relative;
    overflow: hidden;
    z-index: 100;
    .menu_sp {
      position: absolute;
      width: vw(40);
      height: vw(38);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      .icon_menu {
        position: relative;
        display: inline-block;
        width: 100%;
        height: vw(6);
        %menu {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #fff;
          transition-property: transform;
          transition-duration: 0.15s;
          transition-timing-function: ease;
          border-radius: vw(3);
        }
        .icon_inner {
          display: block;
          top: 50%;
          height: vw(6);
          width: 100%;
          left: 0;
          background: #fff;
          transition: background-color 0.2s ease-in 0.25s;
          @extend %menu;
          &::before {
            content: "";
            display: block;
            top: vw(-16);
            left: 0;
            width: 100%;
            transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s;
            @extend %menu;
          }
          &::after {
            content: "";
            display: block;
            bottom: vw(-16);
            right: 0;
            width: 100%;
            transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s;
            @extend %menu;
          }
        }
      }
      &.open {
        .icon_menu {
          .icon_inner {
            transition-delay: 0s;
            transition-timing-function: ease-out;
            background-color: transparent;
            &::before {
              top: -80px;
              left: -80px;
              transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
              transform: translate3d(80px, 80px, 0) rotate(45deg);
            }
            &::after {
              top: -80px;
              right: -80px;
              transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
              transform: translate3d(-80px, 80px, 0) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}