.gr_ttl{
  display: flex;
  position: relative;
  height: 360px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transform: translateZ(0);
  &:after{
    content:"";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .ttl{
    font-size: rem(30);
    color: #fff;
    line-height: 1;
    letter-spacing: 2px;
    font-family: $a1;
    span{
      display: block;
      font-size: rem(14);
      line-height: 1;
      position: relative;
      padding-top: 35px;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      &:before{
        content:"";
        width: 40px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}