.gr_ttl{
  display: flex;
  position: relative;
  height: vw(400);
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateZ(0);
  &:after{
    content:"";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .ttl{
    font-size: vw(44);
    color: #fff;
    line-height: 1;
    letter-spacing: vw(3);
    font-family: $a1;
    span{
      display: block;
      font-size: vw(24);
      line-height: 1;
      position: relative;
      padding-top: vw(45);
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      &:before{
        content:"";
        width: vw(80);
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: vw(21);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}