@charset "UTF-8";
@media screen and (min-width: 768px), print {
  .gr_ttl {
    background: url(../images/bkg_ttl_pc.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .top_company {
    padding: 162px 0 95px;
  }
  .top_company .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top_company_left {
    width: -webkit-calc(100% - 381px);
    width: -moz-calc(100% - 381px);
    width: calc(100% - 381px);
    padding-right: 82px;
  }
  .top_company_left h3 {
    font-size: 2.4rem;
    line-height: 1;
    color: #333;
    margin-bottom: 35px;
    font-family: "A1明朝";
  }
  .top_company_left p {
    font-size: 1.3rem;
    line-height: 24px;
  }
  .top_company_left p + p {
    margin-top: 30px;
  }
  .top_company_right {
    width: 381px;
    position: relative;
  }
  .top_company_right figure {
    position: relative;
  }
  .top_company_right figure img {
    width: 100%;
    height: auto;
  }
  .top_company_right figure figcaption {
    text-align: right;
    margin-top: 30px;
  }
  .top_company_right figure figcaption img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  .top_company_right p {
    font-size: 3.4rem;
    line-height: 1;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    top: -62px;
    right: 10px;
    font-family: "A1明朝";
  }
  .top_company_right p:after {
    content: "";
    width: 1px;
    height: 73px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: -10px;
  }
  .list_profile {
    padding: 0 98px;
  }
  .list_profile li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0;
    border-bottom: 1px solid #cccccc;
  }
  .list_profile li span {
    display: block;
    font-size: 1.3rem;
    line-height: 24px;
    width: 28%;
    padding-left: 25px;
  }
  .list_profile li em {
    font-style: normal;
    display: block;
    font-size: 1.3rem;
    line-height: 24px;
    width: 72%;
  }
  .ttl_profile {
    text-align: center;
    margin-bottom: 60px;
  }
  .ttl_profile span {
    font-size: 2.6rem;
    line-height: 1;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
    letter-spacing: 3px;
    font-family: "A1明朝";
  }
  .st_profile {
    background: url(../images/bkg_profile.png) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 75px 0 72px;
  }
  .st_profile .btn_company a {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    border: 1px solid #baac8b;
    width: 360px;
    height: 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 4px;
         border-radius: 4px;
    background-color: #baac8b;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    margin: 50px auto 0;
  }
  .st_profile .btn_company a:before {
    content: '';
    width: 0%;
    height: 53px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    left: inherit;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    transition: width .6s ease;
    z-index: -1;
    -moz-border-radius: 4px;
         border-radius: 4px;
  }
  .st_profile .btn_company a:after {
    content: "";
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 21px;
    height: 7px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 27px;
    padding-top: 7px;
  }
  .st_profile .btn_company a:hover {
    color: #baac8b;
  }
  .st_profile .btn_company a:hover:before {
    width: 100%;
    left: 0;
  }
  .st_profile .btn_company a:hover:after {
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .st_history {
    padding: 75px 0 0;
  }
  .st_history .list_profile {
    margin-bottom: 115px;
  }
  .map iframe {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .gr_ttl {
    background: url(../images/bkg_ttl_sp.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .top_company {
    padding: 24.66667vw 0 10vw;
  }
  .top_company .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top_company_left {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .top_company_left h3 {
    font-size: 6.4vw;
    line-height: 1;
    color: #454444;
    margin-bottom: 9.33333vw;
    font-family: "A1明朝";
  }
  .top_company_left p {
    font-size: 3.2vw;
    line-height: 5.6vw;
  }
  .top_company_left p + p {
    margin-top: 6.66667vw;
  }
  .top_company_right {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10vw;
    position: relative;
  }
  .top_company_right figure {
    position: relative;
  }
  .top_company_right figure img {
    width: 100%;
    height: auto;
  }
  .top_company_right figure figcaption {
    text-align: right;
    margin-top: 4vw;
  }
  .top_company_right figure figcaption img {
    width: 44.4vw;
    height: 8.8vw;
  }
  .top_company_right p {
    font-size: 8vw;
    line-height: 1;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    top: -14.66667vw;
    right: 2.66667vw;
    font-family: "A1明朝";
  }
  .top_company_right p:after {
    content: "";
    width: 1px;
    height: 17.46667vw;
    background-color: #000;
    position: absolute;
    top: 0;
    right: -2vw;
  }
  .list_profile li {
    padding: 4vw 0;
    border-bottom: 1px solid #cccccc;
  }
  .list_profile li span {
    display: block;
    font-size: 3.2vw;
    line-height: 5.6vw;
    margin-bottom: 1.33333vw;
  }
  .list_profile li em {
    font-style: normal;
    display: block;
    font-size: 3.2vw;
    line-height: 5.6vw;
  }
  .ttl_profile {
    text-align: center;
    margin-bottom: 9.33333vw;
  }
  .ttl_profile span {
    font-size: 5.86667vw;
    line-height: 1;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
    letter-spacing: 0.4vw;
    font-family: "A1明朝";
  }
  .st_profile {
    background: url(../images/bkg_profile.png) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 6.66667vw 0;
  }
  .st_profile .btn_company a {
    font-size: 3.86667vw;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    border: 1px solid #baac8b;
    width: 100%;
    height: 13.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 0.8vw;
         border-radius: 0.8vw;
    background-color: #baac8b;
    margin: 8vw auto 0;
  }
  .st_profile .btn_company a:after {
    content: "";
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.8vw;
    height: 1.6vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 5.33333vw;
    padding-top: 0.93333vw;
  }
  .st_history {
    padding: 11.33333vw 0 0;
  }
  .st_history .list_profile {
    margin-bottom: 15.6vw;
  }
  .map iframe {
    width: 100%;
    height: 80vw;
  }
}
