@charset "UTF-8";
@media screen and (min-width: 768px), print {
  .fv {
    position: relative;
    z-index: 10;
  }
  .fv_under ul {
    width: 100%;
    height: 0;
    padding-top: 43.57143%;
    position: relative;
  }
  .fv_under ul li {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
    line-height: 0;
  }
  .fv_under ul li img {
    width: 100%;
    height: auto;
  }
  .fv_front p {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -webkit-calc((100% - 1000px) / 2);
    right: -moz-calc((100% - 1000px) / 2);
    right: calc((100% - 1000px) / 2);
    margin-right: -4%;
    height: 76.72131%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

@media screen and (min-width: 768px) and (max-width: 1110px) {
  .fv_front p {
    right: 4%;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px), print {
  .fv_front p img {
    width: auto;
    height: 100%;
  }
  .btn a {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: #8e763d;
    border: 1px solid #8e763d;
    width: 250px;
    height: 51px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 4px;
         border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .btn a:before {
    content: '';
    width: 0%;
    height: 49px;
    background: #8e763d;
    position: absolute;
    right: 0;
    top: 0;
    left: inherit;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    transition: width .6s ease;
    z-index: -1;
  }
  .btn a:after {
    content: "";
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 21px;
    height: 7px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 27px;
    padding-top: 7px;
  }
  .btn a:hover {
    color: #fff;
  }
  .btn a:hover:before {
    width: 100%;
    left: 0;
  }
  .btn a:hover:after {
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .st_notice {
    background: url(../images/news_bg.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .st_notice .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 60px 0 65px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .st_notice .wrap {
    padding: 60px 15px 65px;
  }
}

@media screen and (min-width: 768px), print {
  .st_notice .ttl_note {
    font-size: 2.7rem;
    line-height: 1;
    color: #333333;
    /* font-family: $a1; */
    position: relative;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    width: 68px;
    text-align: left;
    padding-right: 42px;
    letter-spacing: 2px;
    font-family: "A1明朝";
  }
  .st_notice .ttl_note:after {
    content: "";
    width: 2px;
    height: 145px;
    background-color: #c7bea9;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
  }
  .st_notice .list_note {
    width: -webkit-calc(100% - 68px);
    width: -moz-calc(100% - 68px);
    width: calc(100% - 68px);
    padding-left: 22px;
  }
  .st_notice .list_note a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .st_notice .list_note a:hover {
    opacity: 0.8;
  }
  .st_notice .list_note a time {
    display: block;
    font-size: 1.5rem;
    line-height: 42px;
    width: 100px;
    letter-spacing: 1px;
  }
  .st_notice .list_note a em {
    display: block;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 42px;
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
  }
  .st_notice .btn_note {
    position: absolute;
    bottom: -25px;
    right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .st_notice .btn_note {
    right: 15px;
  }
}

@media screen and (min-width: 768px), print {
  .st_about {
    padding: 92px 0;
  }
  .st_about .gr_about_t {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
  }
  .st_about .gr_about_t_left {
    width: 300px;
    text-align: left;
    border-top: 2px solid #c7bea9;
    padding: 35px 0 0 55px;
  }
  .st_about .gr_about_t_left h2 {
    font-size: 2.8rem;
    line-height: 50px;
    color: #333333;
    /* font-family: $a1; */
    position: relative;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 3px;
    margin-bottom: 75px;
    padding-left: 110px;
    font-family: "A1明朝";
  }
  .st_about .gr_about_t_left h2 span {
    display: block;
  }
  .st_about .gr_about_t_left p {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.6rem;
    line-height: 36px;
    font-weight: 500;
  }
  .st_about .gr_about_t_right {
    width: -webkit-calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    width: calc(100% - 300px);
    padding-left: 75px;
  }
  .st_about .gr_about_t_right figure img {
    width: 100%;
    height: auto;
  }
  .st_about .btn_about a {
    margin: 0 auto 108px;
  }
  .st_about .gr_about_bt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -64px;
  }
  .st_about .gr_about_bt .bx_w {
    width: -webkit-calc(50% - 64px);
    width: -moz-calc(50% - 64px);
    width: calc(50% - 64px);
    margin-left: 64px;
    position: relative;
  }
  .st_about .gr_about_bt .bx_w a {
    display: block;
    overflow: hidden;
  }
  .st_about .gr_about_bt .bx_w a:hover {
    opacity: 1;
  }
  .st_about .gr_about_bt .bx_w a:hover img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .st_about .gr_about_bt .bx_w img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .st_about .gr_about_bt .bx_w span {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    width: 51px;
    height: 168px;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -44px;
    font-family: "A1明朝";
    z-index: 10;
  }
  .st_about .gr_about_bt .bx_w figcaption {
    font-size: 1.6rem;
    line-height: 26px;
    display: block;
    margin-top: 20px;
  }
  .st_about .gr_about_bt_left span {
    background-color: #126234;
    left: 26px;
  }
  .st_about .gr_about_bt_right span {
    background-color: #847e48;
    right: 26px;
  }
  .st_blog {
    background: url(../images/blog_bg.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 62px 0 65px;
  }
  .st_blog .ttl_blog {
    font-size: 3.6rem;
    line-height: 1;
    text-align: center;
    position: relative;
    margin-bottom: 75px;
    font-family: "A1明朝";
  }
  .st_blog .ttl_blog:after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #8e763d;
    position: absolute;
    bottom: -19px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_blog .gr_blog {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -34px;
  }
  .st_blog .gr_blog article {
    width: -webkit-calc(33.33% - 34px);
    width: -moz-calc(33.33% - 34px);
    width: calc(33.33% - 34px);
    margin-left: 34px;
    background-color: #fff;
  }
  .st_blog .gr_blog article a {
    display: block;
  }
  .st_blog .gr_blog article a:hover {
    opacity: 0.8;
  }
  .st_blog .gr_blog article a:hover figure img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .st_blog .gr_blog article figure {
    overflow: hidden;
  }
  .st_blog .gr_blog article figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .st_blog .gr_blog article .main_art {
    padding: 20px 10px;
  }
  .st_blog .gr_blog article .main_art time {
    display: block;
    font-size: 1.5rem;
    line-height: 1;
    color: #878988;
    margin-bottom: 10px;
  }
  .st_blog .gr_blog article .main_art h3 {
    font-size: 1.7rem;
    line-height: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  .st_blog .gr_blog article .main_art p {
    font-size: 1.4rem;
    line-height: 26px;
    color: #333;
  }
  .st_blog .gr_blog article .main_art p .more {
    text-decoration: underline;
    display: inline-block;
  }
  .st_blog .btn_blog a {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    border: 1px solid #baac8b;
    width: 360px;
    height: 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 4px;
         border-radius: 4px;
    background-color: #baac8b;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    margin: 50px auto 0;
  }
  .st_blog .btn_blog a:before {
    content: '';
    width: 0%;
    height: 53px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    left: inherit;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    transition: width .6s ease;
    z-index: -1;
    -moz-border-radius: 4px;
         border-radius: 4px;
  }
  .st_blog .btn_blog a:after {
    content: "";
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 21px;
    height: 7px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 27px;
    padding-top: 7px;
  }
  .st_blog .btn_blog a:hover {
    color: #baac8b;
  }
  .st_blog .btn_blog a:hover:before {
    width: 100%;
    left: 0;
  }
  .st_blog .btn_blog a:hover:after {
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  .fv {
    position: relative;
    z-index: 10;
  }
  .fv_under ul {
    width: 100%;
    height: 0;
    padding-top: 100.53333vw;
    position: relative;
  }
  .fv_under ul li {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
    line-height: 0;
  }
  .fv_under ul li img {
    width: 100%;
    height: auto;
  }
  .fv_front p {
    display: block;
    position: absolute;
    bottom: 6.66667vw;
    right: 5.33333vw;
  }
  .fv_front p img {
    width: 25.46667vw;
  }
  .btn a {
    font-size: 3.86667vw;
    line-height: 1;
    font-weight: bold;
    color: #8e763d;
    border: 1px solid #8e763d;
    width: 100%;
    height: 13.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 0.8vw;
         border-radius: 0.8vw;
    background-color: #fff;
  }
  .btn a:after {
    content: "";
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.8vw;
    height: 1.6vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 5.33333vw;
    padding-top: 0.93333vw;
  }
  .st_notice {
    background: url(../images/news_bg.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 12.66667vw 0 15.6vw;
  }
  .st_notice .wrap {
    position: relative;
  }
  .st_notice .ttl_note {
    font-size: 6.4vw;
    line-height: 1;
    color: #333333;
    position: relative;
    letter-spacing: 0.4vw;
    border-bottom: 0.53333vw solid #c7bea9;
    padding-bottom: 2.66667vw;
    margin-bottom: 6.66667vw;
    font-family: "A1明朝";
  }
  .st_notice .list_note li:not(:last-child) {
    margin-bottom: 5.33333vw;
  }
  .st_notice .list_note a time {
    display: block;
    font-size: 4vw;
    line-height: 6.13333vw;
    letter-spacing: 1px;
  }
  .st_notice .list_note a em {
    display: block;
    font-style: normal;
    font-size: 4vw;
    line-height: 6.13333vw;
  }
  .st_notice .btn_note {
    margin: 10.66667vw auto 0;
  }
  .st_about {
    padding: 8.53333vw 0 15.2vw;
  }
  .st_about .gr_about_t {
    margin-bottom: 7.46667vw;
  }
  .st_about .gr_about_t_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6vw;
  }
  .st_about .gr_about_t_left h2 {
    font-size: 4.8vw;
    line-height: 6.66667vw;
    color: #333333;
    position: relative;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0.53333vw;
    margin-bottom: 10vw;
    padding-top: 6vw;
    font-family: "A1明朝";
  }
  .st_about .gr_about_t_left h2:before {
    content: "";
    width: 28.66667vw;
    height: 0.26667vw;
    background-color: #c7bea9;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_about .gr_about_t_left h2 span {
    display: block;
  }
  .st_about .gr_about_t_left p {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 3.46667vw;
    line-height: 5.86667vw;
    font-weight: 500;
  }
  .st_about .gr_about_t_right figure img {
    width: 100%;
    height: auto;
  }
  .st_about .btn_about a {
    margin: 0 auto 26vw;
  }
  .st_about .gr_about_bt .bx_w {
    position: relative;
  }
  .st_about .gr_about_bt .bx_w img {
    width: 100%;
    height: auto;
  }
  .st_about .gr_about_bt .bx_w span {
    font-size: 6.66667vw;
    line-height: 1;
    font-weight: 500;
    width: 11.46667vw;
    height: 35.33333vw;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -10vw;
    font-family: "A1明朝";
  }
  .st_about .gr_about_bt .bx_w figcaption {
    font-size: 3.33333vw;
    line-height: 5.73333vw;
    display: block;
    margin-top: 4.66667vw;
  }
  .st_about .gr_about_bt_left {
    margin-bottom: 20vw;
  }
  .st_about .gr_about_bt_left span {
    background-color: #126234;
    left: 5.86667vw;
  }
  .st_about .gr_about_bt_right span {
    background-color: #847e48;
    right: 5.86667vw;
  }
  .st_blog {
    background: url(../images/blog_bg.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 15.6vw 0 6vw;
  }
  .st_blog .ttl_blog {
    font-size: 8vw;
    line-height: 1;
    text-align: center;
    position: relative;
    margin-bottom: 12.66667vw;
    font-family: "A1明朝";
  }
  .st_blog .ttl_blog:after {
    content: "";
    width: 10.66667vw;
    height: 0.53333vw;
    background-color: #8e763d;
    position: absolute;
    bottom: -3.73333vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_blog .gr_blog article {
    background-color: #fff;
  }
  .st_blog .gr_blog article:not(:last-child) {
    margin-bottom: 8vw;
  }
  .st_blog .gr_blog article a {
    display: block;
  }
  .st_blog .gr_blog article figure img {
    width: 100%;
    height: auto;
  }
  .st_blog .gr_blog article .main_art {
    padding: 6vw 2.66667vw 2.66667vw 5.33333vw;
  }
  .st_blog .gr_blog article .main_art time {
    display: block;
    font-size: 4.26667vw;
    line-height: 1;
    color: #878988;
    margin-bottom: 2.66667vw;
  }
  .st_blog .gr_blog article .main_art h3 {
    font-size: 4.8vw;
    line-height: 1.5;
    color: #333;
    margin-bottom: 2.66667vw;
  }
  .st_blog .gr_blog article .main_art p {
    font-size: 4.26667vw;
    line-height: 7.46667vw;
    color: #333;
  }
  .st_blog .gr_blog article .main_art p .more {
    text-decoration: underline;
    display: inline-block;
  }
  .st_blog .btn_blog a {
    font-size: 3.86667vw;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    border: 1px solid #baac8b;
    width: 100%;
    height: 13.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 0.8vw;
         border-radius: 0.8vw;
    background-color: #baac8b;
    margin: 8vw auto 0;
  }
  .st_blog .btn_blog a:after {
    content: "";
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.8vw;
    height: 1.6vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 5.33333vw;
    padding-top: 0.93333vw;
  }
}
