@charset "UTF-8";
@media screen and (min-width: 768px), print {
  .gr_ttl {
    background: url(../images/bkg_ttl_pc.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .gr_facilities {
    padding: 64px 0 0;
  }
  .gr_facilities .row {
    max-width: 1280px;
  }
  .gr_facilities_top h3 {
    text-align: center;
  }
  .gr_facilities_top h3 span {
    font-size: 2.8rem;
    line-height: 1;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    position: relative;
    margin-bottom: 50px;
    font-family: "A1明朝";
  }
  .gr_facilities_top h3 span:after {
    content: "";
    width: 1px;
    height: 73px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: -10px;
  }
  .gr_facilities_top p {
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
  }
  .gr_facilities_list {
    margin: 60px 0 0 -27px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .gr_facilities_list article {
    width: -webkit-calc(25% - 27px);
    width: -moz-calc(25% - 27px);
    width: calc(25% - 27px);
    margin: 0 0 108px 27px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .gr_facilities_list article {
    width: -webkit-calc(33.33% - 27px);
    width: -moz-calc(33.33% - 27px);
    width: calc(33.33% - 27px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gr_facilities_list article {
    width: -webkit-calc(50% - 27px);
    width: -moz-calc(50% - 27px);
    width: calc(50% - 27px);
  }
}

@media screen and (min-width: 768px), print {
  .gr_facilities_list article a {
    display: block;
  }
  .gr_facilities_list article a:hover {
    opacity: 0.8;
  }
  .gr_facilities_list article a:hover figure img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .gr_facilities_list article a:hover span {
    color: #fff;
  }
  .gr_facilities_list article a:hover span:before {
    width: 100%;
    left: 0;
  }
  .gr_facilities_list article a:hover span:after {
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .gr_facilities_list article figure {
    overflow: hidden;
  }
  .gr_facilities_list article figure img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .gr_facilities_list article h4 {
    text-align: center;
    font-size: 2rem;
    line-height: 26px;
    font-weight: 500;
    min-height: 50px;
    margin: 24px 0;
    font-family: "A1明朝";
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gr_facilities_list article h4 {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px), print {
  .gr_facilities_list article span {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: #8e763d;
    border: 1px solid #8e763d;
    width: 80%;
    height: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 4px;
         border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    margin: 0 auto;
  }
  .gr_facilities_list article span:before {
    content: '';
    width: 0%;
    height: 36px;
    background: #8e763d;
    position: absolute;
    right: 0;
    top: 0;
    left: inherit;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    transition: width .6s ease;
    z-index: -1;
  }
  .gr_facilities_list article span:after {
    content: "";
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 21px;
    height: 7px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
    padding-top: 7px;
  }
}

@media screen and (max-width: 767px) {
  .gr_ttl {
    background: url(../images/bkg_ttl_pc.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .gr_facilities {
    padding: 8.66667vw 0 16vw;
  }
  .gr_facilities_top h3 {
    text-align: center;
  }
  .gr_facilities_top h3 span {
    font-size: 5.86667vw;
    line-height: 1;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    position: relative;
    margin-bottom: 9.33333vw;
    font-family: "A1明朝";
  }
  .gr_facilities_top h3 span:after {
    content: "";
    width: 1px;
    height: 17.46667vw;
    background-color: #000;
    position: absolute;
    top: 0;
    right: -2vw;
  }
  .gr_facilities_top p {
    font-size: 3.46667vw;
    line-height: 4.8vw;
  }
  .gr_facilities_list {
    margin: 9.33333vw -5.33333vw 0 -5.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: -webkit-calc(100% + 10.66667vw);
    width: -moz-calc(100% + 10.66667vw);
    width: calc(100% + 10.66667vw);
  }
  .gr_facilities_list article {
    width: -webkit-calc(50% - 8vw);
    width: -moz-calc(50% - 8vw);
    width: calc(50% - 8vw);
    margin: 0 2.66667vw 0 5.33333vw;
  }
  .gr_facilities_list article:nth-child(even) {
    margin: 0 5.33333vw 0 2.66667vw;
  }
  .gr_facilities_list article:not(:last-child) {
    margin-bottom: 8vw;
  }
  .gr_facilities_list article a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .gr_facilities_list article figure {
    overflow: hidden;
  }
  .gr_facilities_list article figure img {
    width: 100%;
    height: auto;
  }
  .gr_facilities_list article h4 {
    text-align: center;
    font-size: 4vw;
    line-height: 6.4vw;
    min-height: 12.8vw;
    font-weight: 500;
    margin: 4.66667vw 0 4vw;
    width: 100%;
    font-family: "A1明朝";
  }
  .gr_facilities_list article h4 br {
    display: none;
  }
  .gr_facilities_list article span {
    font-size: 3.2vw;
    line-height: 1;
    font-weight: bold;
    color: #8e763d;
    border: 1px solid #8e763d;
    width: 100%;
    height: 8.66667vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 0.8vw;
         border-radius: 0.8vw;
    background-color: #fff;
    margin: 0 auto;
  }
  .gr_facilities_list article span:after {
    content: "";
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.8vw;
    height: 1.6vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 2.66667vw;
    padding-top: 0.93333vw;
  }
}

@media screen and (max-width: 767px) and (max-width: 600px) {
  .gr_facilities_list article {
    width: 100%;
  }
  .gr_facilities_list article a {
    display: block;
  }
  .gr_facilities_list article figure {
    overflow: hidden;
  }
  .gr_facilities_list article figure img {
    width: 100%;
    height: auto;
  }
  .gr_facilities_list article h4 {
    text-align: center;
    font-size: 5.33333vw;
    line-height: 7.73333vw;
    font-weight: 500;
    margin: 7.33333vw 0 6.66667vw;
  }
  .gr_facilities_list article span {
    font-size: 4vw;
    line-height: 1;
    font-weight: bold;
    color: #8e763d;
    border: 1px solid #8e763d;
    width: 100%;
    height: 11.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 0.8vw;
         border-radius: 0.8vw;
    background-color: #fff;
    margin: 0 auto;
  }
  .gr_facilities_list article span:after {
    content: "";
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.8vw;
    height: 1.6vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 2.66667vw;
    padding-top: 0.93333vw;
  }
}
