@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl{
  background: url(../images/bkg_ttl_sp.jpg) no-repeat;
  background-size: cover;
}
.top_company{
  padding: vw(185) 0 vw(75);
  .wrap{
    display: flex;
    flex-direction: column;
  }
  &_left{
    order: 2;
    h3{
      font-size: vw(48);
      line-height: 1;
      color: #454444;
      margin-bottom: vw(70);
      font-family: $a1;
    }
    p{
      font-size: vw(24);
      line-height: vw(42);
      + p{
        margin-top: vw(50);
      }
    }
  }
  &_right{
    order: 1;
    margin-bottom: vw(75);
    position: relative;
    figure{
      position: relative;
      
      img{
        width: 100%;
        height: auto;
      }
      figcaption{
        text-align: right;
        margin-top: vw(30);
        img{
          width: vw(333);
          height: vw(66);
        }
      }
    }
    p{
      font-size: vw(60);
      line-height: 1;
      writing-mode: vertical-rl;
      text-orientation: upright;
      position: absolute;
      top: vw(-110);
      right: vw(20);
      font-family: $a1;
      &:after{
        content:"";
        width: 1px;
        height: vw(131);
        background-color: #000;
        position: absolute;
        top: 0;
        right: vw(-15);
      }
    }
  }
}
.list_profile{
  li{
    padding: vw(30) 0;
    border-bottom: 1px solid #cccccc;
    span{
      display: block;
      font-size: vw(24);
      line-height: vw(42);
      margin-bottom: vw(10);
    }
    em{
      font-style: normal;
      display: block;
      font-size: vw(24);
      line-height: vw(42);
    }
  }
}
.ttl_profile{
  text-align: center;
  margin-bottom: vw(70);
  span{
    font-size: vw(44);
    line-height: 1;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
    letter-spacing: vw(3);
    font-family: $a1;
  }
}
.st_profile{
  background: url(../images/bkg_profile.png) repeat;
  background-size: contain;
  padding: vw(50) 0;
  .btn_company{
    a{
      font-size: vw(29);
      line-height: 1;
      font-weight: bold;
      color: #fff;
      border: 1px solid #baac8b;
      width: 100%;
      height: vw(100);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: vw(6);
      background-color: #baac8b;
      margin: vw(60) auto 0;
      &:after{
        content:"";
        background: url(../images/arrow_white.png) no-repeat;
        background-size: contain;
        width: vw(36);
        height: vw(12);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: vw(40);
        padding-top: vw(7);
      }
    }
  }
}
.st_history{
  padding: vw(85) 0 0;
  .list_profile{
    margin-bottom: vw(117);
  }
}
.map{
  iframe{
    width: 100%;
    height: vw(600);
  }
}