@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl{
  background: url(../images/bkg_ttl_pc.jpg) no-repeat;
  background-size: cover;
}
.top_company{
  padding: 162px 0 95px;
  .wrap{
    display: flex;
  }
  &_left{
    width: calc(100% - 381px);
    padding-right: 82px;
    h3{
      font-size: rem(24);
      line-height: 1;
      color: #333;
      margin-bottom: 35px;
      font-family: $a1;
    }
    p{
      font-size: rem(13);
      line-height: 24px;
      + p{
        margin-top: 30px;
      }
    }
  }
  &_right{
    width: 381px;
    position: relative;
    figure{
      position: relative;
      
      img{
        width: 100%;
        height: auto;
      }
      figcaption{
        text-align: right;
        margin-top: 30px;
        img{
          width: auto;
          max-width: 100%;
          height: auto;
        }
      }
    }
    p{
      font-size: rem(34);
      line-height: 1;
      writing-mode: vertical-rl;
      text-orientation: upright;
      position: absolute;
      top: -62px;
      right: 10px;
      font-family: $a1;
      &:after{
        content:"";
        width: 1px;
        height: 73px;
        background-color: #000;
        position: absolute;
        top: 0;
        right: -10px;
      }
    }
  }
}
.list_profile{
  padding: 0 98px;
  li{
    display: flex;
    padding: 25px 0;
    border-bottom: 1px solid #cccccc;
    span{
      display: block;
      font-size: rem(13);
      line-height: 24px;
      width: 28%;
      padding-left: 25px;
    }
    em{
      font-style: normal;
      display: block;
      font-size: rem(13);
      line-height: 24px;
      width: 72%;
    }
  }
}
.ttl_profile{
  text-align: center;
  margin-bottom: 60px;
  span{
    font-size: rem(26);
    line-height: 1;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
    letter-spacing: 3px;
    font-family: $a1;
  }
}
.st_profile{
  background: url(../images/bkg_profile.png) repeat;
  background-size: contain;
  padding: 75px 0 72px;
  .btn_company{
    a{
      font-size: rem(15);
      line-height: 1;
      font-weight: bold;
      color: #fff;
      border: 1px solid #baac8b;
      width: 360px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 4px;
      background-color: #baac8b;
      transition: all .6s ease;
      transform: translateZ(0);
      margin: 50px auto 0;
      &:before{
        content: '';
        width: 0%;
        height: 53px;
        background: #fff;
        position: absolute;
        right: 0;
        top: 0;
        left: inherit;
        transition: width .6s ease;
        z-index: -1;
        border-radius: 4px;
      }
      &:after{
        content:"";
        background: url(../images/arrow_white.png) no-repeat;
        background-size: contain;
        width: 21px;
        height: 7px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 27px;
        padding-top: 7px;
      }
      &:hover{
        color: #baac8b;
        &:before{
          width: 100%;
          left: 0;
        }
        &:after{
          background: url(../images/arrow.png) no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
.st_history{
  padding: 75px 0 0;
  .list_profile{
    margin-bottom: 115px;
  }
}
.map{
  iframe{
    width: 100%;
    height: 400px;
  }
}