@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.fv {
  position: relative;
  z-index: 10;
  &_under {
    ul {
      width: 100%;
      height: 0;
      padding-top: percentage(610/1400);
      position: relative;
      li {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        transition: all 3s;
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_front{
    p{
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc((100% - 1000px) / 2);
      margin-right: -4%;
      height: percentage(468/610);
      transition: all 0.3s ease-out;
      @media screen and (max-width: 1110px) {
        right: 4%;
        margin-right: 0;
      }
      img{
        width: auto;
        height: 100%;
      }
    }
  }
}
.btn{
  a{
    font-size: rem(15);
    line-height: 1;
    font-weight: bold;
    color: #8e763d;
    border: 1px solid #8e763d;
    width: 250px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    transition: all .6s ease;
    transform: translateZ(0);
    &:before{
      content: '';
      width: 0%;
      height: 49px;
      background: #8e763d;
      position: absolute;
      right: 0;
      top: 0;
      left: inherit;
      transition: width .6s ease;
      z-index: -1;
    }
    &:after{
      content:"";
      background: url(../images/arrow.png) no-repeat;
      background-size: contain;
      width: 21px;
      height: 7px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 27px;
      padding-top: 7px;
    }
    &:hover{
      color: #fff;
      &:before{
        width: 100%;
        left: 0;
      }
      &:after{
        background: url(../images/arrow_white.png) no-repeat;
        background-size: contain;
      }
    }
  }
}
.st_notice{
  background: url(../images/news_bg.jpg) repeat;
  background-size: contain;
  .wrap{
    display: flex;
    position: relative;
    padding: 60px 0 65px;
    @media only screen and (max-width: 1023px) {
      padding: 60px 15px 65px;
    }
  }
  .ttl_note{
    font-size: rem(27);
    line-height: 1;
    color: #333333;
    /* font-family: $a1; */
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 68px;
    text-align: left;
    padding-right: 42px;
    letter-spacing: 2px;
    font-family: $a1;
    &:after{
      content:"";
      width: 2px;
      height: 145px;
      background-color: #c7bea9;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
  }
  .list_note{
    width: calc(100% - 68px);
    padding-left: 22px;
    a{
      display: flex;
      &:hover{
        opacity: 0.8;
      }
      time{
        display: block;
        font-size: rem(15);
        line-height: 42px;
        width: 100px;
        letter-spacing: 1px;
      }
      em{
        display: block;
        font-style: normal;
        font-size: rem(15);
        line-height: 42px;
        width: calc(100% - 100px);
      }
    }
  }
  .btn_note{
    position: absolute;
    bottom: -25px;
    right: 0;
    @media only screen and (max-width: 1023px) {
      right: 15px;
    }
  }
}
.st_about{
  padding: 92px 0;
  .gr_about_t{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    &_left{
      width: 300px;
      text-align: left;
      border-top: 2px solid #c7bea9;
      padding: 35px 0 0 55px;
      h2{
        font-size: rem(28);
        line-height: 50px;
        color: #333333;
        /* font-family: $a1; */
        position: relative;
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: 3px;
        margin-bottom: 75px;
        padding-left: 110px;
        font-family: $a1;
        span{
          display: block;
        }
      }
      p{
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: rem(16);
        line-height: 36px;
        font-weight: 500;
      }
    }
    &_right{
      width: calc(100% - 300px);
      padding-left: 75px;
      figure{
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .btn_about{
    a{
      margin: 0 auto 108px;
    }
  }
  .gr_about_bt{
    display: flex;
    margin-left: -64px;
    .bx_w{
      width: calc(50% - 64px);
      margin-left: 64px;
      position: relative;
      a {
        display: block;
        overflow: hidden;
        &:hover {
          opacity: 1;
          img {
            transform: scale(1.05);
          }
        }
      }
      img{
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
      }
      span{
        font-size: rem(30);
        line-height: 1;
        font-weight: 500;
        width: 51px;
        height: 168px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        position: absolute;
        top: -44px;
        font-family: $a1;
        z-index: 10;
      }
      figcaption{
        font-size: rem(16);
        line-height: 26px;
        display: block;
        margin-top: 20px;
      }
    }
    &_left{
      span{
        background-color: #126234;
        left: 26px;
      }
    }
    &_right{
      span{
        background-color: #847e48;
        right: 26px;
      }
    }
  }
}
.st_blog{
  background: url(../images/blog_bg.jpg) repeat;
  background-size: contain;
  padding: 62px 0 65px;
  .ttl_blog{
    font-size: rem(36);
    line-height: 1;
    text-align: center;
    position: relative;
    margin-bottom: 75px;
    font-family: $a1;
    &:after{
      content:"";
      width: 40px;
      height: 2px;
      background-color: #8e763d;
      position: absolute;
      bottom: -19px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .gr_blog{
    display: flex;
    margin-left: -34px;
    article{
      width: calc(33.33% - 34px);
      margin-left: 34px;
      background-color: #fff;
      a{
        display: block;
        &:hover{
          opacity:0.8;
          figure{
            img{
              transform: scale(1.05);
            }
          }
        }
      }
      figure{
        overflow: hidden;
        img{
          width: 100%;
          height: 200px;
          object-fit: cover;
          transition: all 0.5s ease;
        }
      }
      .main_art {
        padding: 20px 10px;
        time{
          display: block;
          font-size: rem(15);
          line-height: 1;
          color: #878988;
          margin-bottom: 10px;
        }
        h3{
          font-size: rem(17);
          line-height: 28px;
          color: #333;
          margin-bottom: 10px;
        }
        p{
          font-size: rem(14);
          line-height: 26px;
          color: #333;
          .more{
            text-decoration: underline;
            display: inline-block;
          }
        }
      }
    }
  }
  .btn_blog{
    a{
      font-size: rem(15);
      line-height: 1;
      font-weight: bold;
      color: #fff;
      border: 1px solid #baac8b;
      width: 360px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 4px;
      background-color: #baac8b;
      transition: all .6s ease;
      transform: translateZ(0);
      margin: 50px auto 0;
      &:before{
        content: '';
        width: 0%;
        height: 53px;
        background: #fff;
        position: absolute;
        right: 0;
        top: 0;
        left: inherit;
        transition: width .6s ease;
        z-index: -1;
        border-radius: 4px;
      }
      &:after{
        content:"";
        background: url(../images/arrow_white.png) no-repeat;
        background-size: contain;
        width: 21px;
        height: 7px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 27px;
        padding-top: 7px;
      }
      &:hover{
        color: #baac8b;
        &:before{
          width: 100%;
          left: 0;
        }
        &:after{
          background: url(../images/arrow.png) no-repeat;
          background-size: contain;
        }
      }
    }
  }
}