@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.fv {
  position: relative;
  z-index: 10;
  &_under {
    ul {
      width: 100%;
      height: 0;
      padding-top: vw(754);
      position: relative;
      li {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        transition: all 3s;
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_front{
    p{
      display: block;
      position: absolute;
      bottom: vw(50);
      right: vw(40);
      img{
        width: vw(191);
      }
    }
  }
}
.btn{
  a{
    font-size: vw(29);
    line-height: 1;
    font-weight: bold;
    color: #8e763d;
    border: 1px solid #8e763d;
    width: 100%;
    height: vw(100);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: vw(6);
    background-color: #fff;
    &:after{
      content:"";
      background: url(../images/arrow.png) no-repeat;
      background-size: contain;
      width: vw(36);
      height: vw(12);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: vw(40);
      padding-top: vw(7);
    }
  }
}
.st_notice{
  background: url(../images/news_bg.jpg) repeat;
  background-size: contain;
  padding: vw(95) 0 vw(117);
  .wrap{
    position: relative;
  }
  .ttl_note{
    font-size: vw(48);
    line-height: 1;
    color: #333333;
    position: relative;
    letter-spacing: vw(3);
    border-bottom: vw(4) solid #c7bea9;
    padding-bottom: vw(20);
    margin-bottom: vw(50);
    font-family: $a1;
  }
  .list_note{
    li{
      &:not(:last-child){
        margin-bottom: vw(40);
      }
    }
    a{
      time{
        display: block;
        font-size: vw(30);
        line-height: vw(46);
        letter-spacing: 1px;
      }
      em{
        display: block;
        font-style: normal;
        font-size: vw(30);
        line-height: vw(46);
      }
    }
  }
  .btn_note{
    margin: vw(80) auto 0;
  }
}
.st_about{
  padding: vw(64) 0 vw(114);
  .gr_about_t{
    margin-bottom: vw(56);
    &_left{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: vw(45);
      h2{
        font-size: vw(36);
        line-height: vw(50);
        color: #333333;
        position: relative;
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: vw(4);
        margin-bottom: vw(75);
        padding-top: vw(45);
        font-family: $a1;
        &:before {
          content:"";
          width: vw(215);
          height: vw(2);
          background-color: #c7bea9;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        span{
          display: block;
        }
      }
      p{
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: vw(26);
        line-height: vw(44);
        font-weight: 500;
      }
    }
    &_right{
      figure{
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .btn_about{
    a{
      margin: 0 auto vw(195);
    }
  }
  .gr_about_bt{
    .bx_w{
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
      span{
        font-size: vw(50);
        line-height: 1;
        font-weight: 500;
        width: vw(86);
        height: vw(265);
        writing-mode: vertical-rl;
        text-orientation: upright;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        position: absolute;
        top: vw(-75);
        font-family: $a1;
      }
      figcaption{
        font-size: vw(25);
        line-height: vw(43);
        display: block;
        margin-top: vw(35);
      }
    }
    &_left{
      margin-bottom: vw(150);
      span{
        background-color: #126234;
        left: vw(44);
      }
    }
    &_right{
      span{
        background-color: #847e48;
        right: vw(44);
      }
    }
  }
}
.st_blog{
  background: url(../images/blog_bg.jpg) repeat;
  background-size: contain;
  padding: vw(117) 0 vw(45);
  .ttl_blog{
    font-size: vw(60);
    line-height: 1;
    text-align: center;
    position: relative;
    margin-bottom: vw(95);
    font-family: $a1;
    &:after{
      content:"";
      width: vw(80);
      height: vw(4);
      background-color: #8e763d;
      position: absolute;
      bottom: vw(-28);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .gr_blog{
    article{
      background-color: #fff;
      &:not(:last-child){
        margin-bottom: vw(60);
      }
      a{
        display: block;
      }
      figure{
        img{
          width: 100%;
          height: auto;
        }
      }
      .main_art {
        padding: vw(45) vw(20) vw(20) vw(40);
        time{
          display: block;
          font-size: vw(32);
          line-height: 1;
          color: #878988;
          margin-bottom: vw(20);
        }
        h3{
          font-size: vw(36);
          line-height: 1.5;
          color: #333;
          margin-bottom: vw(20);
        }
        p{
          font-size: vw(32);
          line-height: vw(56);
          color: #333;
          .more{
            text-decoration: underline;
            display: inline-block;
          }
        }
      }
    }
  }
  .btn_blog{
    a{
      font-size: vw(29);
      line-height: 1;
      font-weight: bold;
      color: #fff;
      border: 1px solid #baac8b;
      width: 100%;
      height: vw(100);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: vw(6);
      background-color: #baac8b;
      margin: vw(60) auto 0;
      &:after{
        content:"";
        background: url(../images/arrow_white.png) no-repeat;
        background-size: contain;
        width: vw(36);
        height: vw(12);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: vw(40);
        padding-top: vw(7);
      }
    }
  }
}