@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl{
  background: url(../images/bkg_ttl_pc.jpg) no-repeat;
  background-size: cover;
}
.gr_recruit{
  padding: 125px 0 110px;
  article{
    &:not(:last-child){
      margin-bottom: 170px;
    }
    h3{
      font-size: 30px;
      line-height: 1;
      position: relative;
      margin-bottom: 50px;
      font-family: $a1;
      &:before{
        content:"";
        width: 120px;
        height: 1px;
        background-color: #000;
        position: absolute;
        top: -24px;
        left: 0;
      }
    }
    p{
      font-size: rem(14);
      line-height: 24px;
    }
    .list_profile{
      margin-top: 40px;
      li{
        display: flex;
        padding: 25px 0;
        border-bottom: 1px solid #cccccc;
        span{
          display: block;
          font-size: rem(13);
          line-height: 24px;
          width: 23%;
          padding-left: 25px;
        }
        em{
          font-style: normal;
          display: block;
          font-size: rem(13);
          line-height: 24px;
          width: 77%;
        }
      }
    }
    .btn_company{
      a{
        font-size: rem(15);
        line-height: 1;
        font-weight: bold;
        color: #fff;
        border: 1px solid #baac8b;
        width: 360px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 4px;
        background-color: #baac8b;
        transition: all .6s ease;
        transform: translateZ(0);
        margin: 85px auto 0;
        &:before{
          content: '';
          width: 0%;
          height: 53px;
          background: #fff;
          position: absolute;
          right: 0;
          top: 0;
          left: inherit;
          transition: width .6s ease;
          z-index: -1;
          border-radius: 4px;
        }
        &:after{
          content:"";
          background: url(../images/arrow_white.png) no-repeat;
          background-size: contain;
          width: 21px;
          height: 7px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 27px;
          padding-top: 7px;
        }
        &:hover{
          color: #baac8b;
          &:before{
            width: 100%;
            left: 0;
          }
          &:after{
            background: url(../images/arrow.png) no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}