@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl{
  background: url(../images/bkg_ttl_pc.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.gr_recruit{
  padding: vw(120) 0 vw(110);
  article{
    &:not(:last-child){
      margin-bottom: vw(180);
    }
    h3{
      font-size: vw(40);
      line-height: 1;
      position: relative;
      margin-bottom: vw(30);
      font-family: $a1;
      &:before{
        content:"";
        width: vw(180);
        height: 1px;
        background-color: #000;
        position: absolute;
        top: vw(-30);
        left: 0;
      }
    }
    p{
      font-size: vw(24);
      line-height: vw(42);
    }
    .list_profile{
      margin-top: 40px;
      li{
        padding: vw(30) 0;
        border-bottom: 1px solid #cccccc;
        span{
          display: block;
          font-size: vw(24);
          line-height: vw(42);
          margin-bottom: vw(10);
        }
        em{
          font-style: normal;
          display: block;
          font-size: vw(24);
          line-height: vw(42);
        }
      }
    }
    .btn_company{
      a{
        font-size: vw(29);
        line-height: 1;
        font-weight: bold;
        color: #fff;
        border: 1px solid #baac8b;
        width: 100%;
        height: vw(100);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: vw(6);
        background-color: #baac8b;
        margin: vw(60) auto 0;
        &:after{
          content:"";
          background: url(../images/arrow_white.png) no-repeat;
          background-size: contain;
          width: vw(36);
          height: vw(12);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(40);
          padding-top: vw(7);
        }
      }
    }
  }
}