@charset "UTF-8";
@media screen and (min-width: 768px), print {
  .gr_ttl {
    background: url(../images/bkg_ttl_pc.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .gr_recruit {
    padding: 125px 0 110px;
  }
  .gr_recruit article:not(:last-child) {
    margin-bottom: 170px;
  }
  .gr_recruit article h3 {
    font-size: 30px;
    line-height: 1;
    position: relative;
    margin-bottom: 50px;
    font-family: "A1明朝";
  }
  .gr_recruit article h3:before {
    content: "";
    width: 120px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: -24px;
    left: 0;
  }
  .gr_recruit article p {
    font-size: 1.4rem;
    line-height: 24px;
  }
  .gr_recruit article .list_profile {
    margin-top: 40px;
  }
  .gr_recruit article .list_profile li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0;
    border-bottom: 1px solid #cccccc;
  }
  .gr_recruit article .list_profile li span {
    display: block;
    font-size: 1.3rem;
    line-height: 24px;
    width: 23%;
    padding-left: 25px;
  }
  .gr_recruit article .list_profile li em {
    font-style: normal;
    display: block;
    font-size: 1.3rem;
    line-height: 24px;
    width: 77%;
  }
  .gr_recruit article .btn_company a {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    border: 1px solid #baac8b;
    width: 360px;
    height: 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 4px;
         border-radius: 4px;
    background-color: #baac8b;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    margin: 85px auto 0;
  }
  .gr_recruit article .btn_company a:before {
    content: '';
    width: 0%;
    height: 53px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    left: inherit;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    transition: width .6s ease;
    z-index: -1;
    -moz-border-radius: 4px;
         border-radius: 4px;
  }
  .gr_recruit article .btn_company a:after {
    content: "";
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 21px;
    height: 7px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 27px;
    padding-top: 7px;
  }
  .gr_recruit article .btn_company a:hover {
    color: #baac8b;
  }
  .gr_recruit article .btn_company a:hover:before {
    width: 100%;
    left: 0;
  }
  .gr_recruit article .btn_company a:hover:after {
    background: url(../images/arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  .gr_ttl {
    background: url(../images/bkg_ttl_pc.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    background-position: center center;
  }
  .gr_recruit {
    padding: 16vw 0 14.66667vw;
  }
  .gr_recruit article:not(:last-child) {
    margin-bottom: 24vw;
  }
  .gr_recruit article h3 {
    font-size: 5.33333vw;
    line-height: 1;
    position: relative;
    margin-bottom: 4vw;
    font-family: "A1明朝";
  }
  .gr_recruit article h3:before {
    content: "";
    width: 24vw;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: -4vw;
    left: 0;
  }
  .gr_recruit article p {
    font-size: 3.2vw;
    line-height: 5.6vw;
  }
  .gr_recruit article .list_profile {
    margin-top: 40px;
  }
  .gr_recruit article .list_profile li {
    padding: 4vw 0;
    border-bottom: 1px solid #cccccc;
  }
  .gr_recruit article .list_profile li span {
    display: block;
    font-size: 3.2vw;
    line-height: 5.6vw;
    margin-bottom: 1.33333vw;
  }
  .gr_recruit article .list_profile li em {
    font-style: normal;
    display: block;
    font-size: 3.2vw;
    line-height: 5.6vw;
  }
  .gr_recruit article .btn_company a {
    font-size: 3.86667vw;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    border: 1px solid #baac8b;
    width: 100%;
    height: 13.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -moz-border-radius: 0.8vw;
         border-radius: 0.8vw;
    background-color: #baac8b;
    margin: 8vw auto 0;
  }
  .gr_recruit article .btn_company a:after {
    content: "";
    background: url(../images/arrow_white.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 4.8vw;
    height: 1.6vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 5.33333vw;
    padding-top: 0.93333vw;
  }
}
