@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl{
  background: url(../images/bkg_ttl_pc.jpg) no-repeat;
  background-size: cover;
}
.gr_news{
  padding: 123px 0 129px;
  .news_item{
    article{
      border-bottom: 1px solid #7d7d7d;
      padding-bottom: 55px;
      &:not(:last-child){
        margin-bottom: 123px;
      }
      time{
        font-size: rem(16);
        line-height: 1;
        color: #333;
        display: block;
      }
      h3{
        font-size: rem(28);
        line-height: 1.5;
        position: relative;
        margin: 50px 0;
        font-family: $a1;
        &:before{
          content:"";
          width: 120px;
          height: 1px;
          background-color: #000;
          position: absolute;
          top: -25px;
          left: 0;
        }
      }
      p{
        font-size: rem(14);
        line-height: 30px;
      }
    }
  }
  .l_pag{
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
    li{
      &:nth-of-type(1){
        a{
          &:after{
            content:"";
            background: url(../images/arrow.png) no-repeat;
            background-size: contain;
            width: 21px;
            height: 7px;
            position: absolute;
            top: 50%;
            transform: rotateY(180deg) translateY(-50%);
            left: 18px;
            padding-top: 5px;
          }
          &:hover{
            &:after{
              background: url(../images/arrow_white.png) no-repeat;
              background-size: contain;
            }
          }
        }
      }
      &:nth-of-type(2){
        a{
          &:after{
            content:"";
            background: url(../images/arrow.png) no-repeat;
            background-size: contain;
            width: 21px;
            height: 7px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 18px;
            padding-top: 5px;
          }
          &:hover{
            &:after{
              background: url(../images/arrow_white.png) no-repeat;
              background-size: contain;
            }
          }
        }
      }
      a{
        font-size: rem(15);
        line-height: 1;
        font-weight: bold;
        color: #baac8b;
        border: 1px solid #baac8b;
        width: 178px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 4px;
        background-color: #fff;
        transition: all .6s ease;
        transform: translateZ(0);
        &:before{
          content: '';
          width: 0%;
          height: 34px;
          background: #baac8b;
          position: absolute;
          right: 0;
          top: 0;
          left: inherit;
          transition: width .6s ease;
          z-index: -1;
          border-radius: 4px;
        }
        &:hover{
          color: #fff;
          &:before{
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}