@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl{
  background: url(../images/bkg_ttl_pc.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.gr_news{
  padding: vw(100) 0;
  .news_item{
    article{
      border-bottom: 1px solid #7d7d7d;
      padding-bottom: vw(50);
      &:not(:last-child){
        margin-bottom: vw(100);
      }
      time{
        font-size: vw(26);
        line-height: 1;
        color: #333;
        display: block;
      }
      h3{
        font-size: vw(34);
        line-height: 1.5;
        position: relative;
        margin: vw(50) 0;
        font-family: $a1;
        &:before{
          content:"";
          width: vw(150);
          height: 1px;
          background-color: #000;
          position: absolute;
          top: vw(-24);
          left: 0;
        }
      }
      p{
        font-size: vw(24);
        line-height: vw(42);
      }
    }
  }
  .l_pag{
    margin-top: vw(80);
    display: flex;
    justify-content: space-between;
    li{
      &:nth-of-type(1){
        a{
          &:after{
            content:"";
            background: url(../images/arrow.png) no-repeat;
            background-size: contain;
            width: vw(36);
            height: vw(12);
            position: absolute;
            top: 50%;
            transform: rotateY(180deg) translateY(-50%);
            left: vw(18);
            padding-top: vw(5);
          }
        }
      }
      &:nth-of-type(2){
        a{
          &:after{
            content:"";
            background: url(../images/arrow.png) no-repeat;
            background-size: contain;
            width: vw(36);
            height: vw(12);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: vw(18);
            padding-top: vw(5);
          }
        }
      }
      a{
        font-size: vw(29);
        line-height: 1;
        font-weight: bold;
        color: #baac8b;
        border: 1px solid #baac8b;
        width: vw(280);
        height: vw(80);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: vw(6);
        background-color: #fff;
        transition: all .6s ease;
        transform: translateZ(0);
      }
    }
  }
}